.inner-container{
    gap:1.5 rem;
    background:orange;
    padding:2rem;
    border-radius:10px;
    border:6px solid #eee;
    text-align:center

}
.inner-container .primaryText{
    color:white;

}
.inner-container .button{
    background:#5a73d7;
    border:2px solid white;
    box-shadow:var(--shadow);
    border-radius:10px
}